.git
.idea
.env
.env.example
node_modules
vendor
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/*
bootstrap/cache/**
.github
tests
docker-compose.yml
Dockerfile
